@import url(https://fonts.bunny.net/css?family=anonymous-pro:400);

:root {
    --main-color:  rgb(37, 131, 190);
    --secondary-color: rgb(218, 186, 28);
}

body {
    display: grid;
    grid-template-columns: clamp(160px,calc(200px + 0.4vw),240px) 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    box-sizing: border-box;
    font-family: "anonymous-pro:400", 'Courier New', Courier, monospace
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.sidebar a {
    text-decoration: none;
    color: white
}

.dashboard, .user-tabs, .user-settings {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.dashboard {
    font-size: calc(20px + 0.2vw);
}

.dashboard > a, .user-tabs > a, .user-settings > a {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 8px;
}

.dashboard > a > img {
    width: calc(32px + 0.2vw);
}

.user-tabs > a > img, .user-settings > a > img {
    width: calc(20px + 0.2vw);
}

.user-tabs,.user-settings {
    font-size: calc(16px + 0.2vw);
}

.header {
    grid-column: 2;
    grid-row: 1;
    background-color:white;
    position: sticky;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15),
    0px 4px 4px rgba(0,0,0,0.15),
    0px 6px 6px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 12px 24px;
}

.search {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.search > img {
    width: 24px;
}

.search-bar {
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    width: 480px;
    height: 16px;
}

.user-notifications {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
}

.user-notifications > img:first-child {
    width: 24px;
}

.user-notifications > img:nth-child(2) {
    width: 48px;
}

.user-banner {
    grid-column: 1;
    grid-row: 2;
    display: flex;
}

.user-banner > img {
    width: 64px;
}

.user-greeting {
    display: flex;
    flex-direction: column;
}

.header-buttons {
    grid-column: 2;
    grid-row: 2;
}

button {
    background-color: var(--main-color);
    color: white;
    width: 96px;
    height: 32px;
    border: none;
    border-radius: 16px;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: lightgray;
}